# Auto detect text files and perform LF normalization
* text=auto
* text eol=lf

#20 дней - 20 проектов на Python:

#1 день     -    Калькулятор

chifra1 = int(input("Введите первое число "))
chifra2 = int(input("Введите второе число "))

print("Выберите математическую операцию:\n+\n-\n/\n*")
operation = input("Ваш выбор: ")

if operation == "+":
    print ("Сложение")
    result = chifra1 + chifra2
elif operation == "-":
    print ("Вычитание")
    result = chifra1 - chifra2
elif operation == "/":
    print ("Деление")
    result = chifra1 / chifra2
elif operation == "*":
    print ("Умножение")
    result = chifra1 * chifra2

    #ИСКЛЮЧЕНИЯ:
elif operation == '/':
    try:
        result = chifra1 / chifra2
    except ZeroDivisionError:
        result = "Деление на ноль запрещено" 
        
else:
    print ("Ваша глупость привела к фатальной ошибке")
    print ("SyntaxError n404")

    #Результат
print ("Результат -", result)